body{
	margin:0;
}

a {
	color:black;
}

a:hover {
	color:grey;
}

.fa {
	margin-right:1em;	
}


.fa-user::before{
	margin-right:0.5em;
	color:black;
}

.fa-cog::before{
	margin-right:0.5em;
	color:black;
}


.banner {
	background-color: #f3fcfb;
	max-width:100%;
}

#banner_image{
	width:40%;
	height:40%;
	max-width:40%;
	min-width:40%;
	display:inline-block;
	box-sizing: border-box;
	margin: 1em;
}

#banner_title{
	font-size:75px;
	font-family: sans-serif;
	display:inline-block;
	position:relative;
	margin:0;
	bottom:1em;
	left:3.75em;
}

.banner_description{
	box-sizing:border-box;
	width:56%;
	max-width: 56%;
	min-width:56%;
	display: inline-block;
	font-size:40px;
	font-family:sans-serif;
}

#banner_description{
	position: relative;
	bottom: 2em;
	left: 5em;
}

.links {
	margin-left:5em;
	position: relative;
	bottom: 1em;
}

#account, #preferences{
	display:inline-block;
	font-size:25px;
	margin-right:3em;
}

#green_separator{
	background-color:#009900;
	height:1em;
}

#list_form, #produce-form{
	font-size:18px;
	font-family:arial;
	display:inline-block;
}

.recipe_section{
	width:93%;
	max-width:93%;
	min-width:93%;
	box-sizing:border-box;
	margin:3em;
	background-color: #f4f4f4;
}

.second_h{
	font-size:35px;
	font-family:sans-serif;
	margin-top:0;
}

.third_h{
	font-family: sans-serif;
	font-size: 23px;
}

#ingredient {
	width: 18em;
	height: 2em;
	font-size: 15px;
	font-family: arial;
	text-align:center;
}

#submit_ingredient{
	height: 2em;
	font-size: 15px;
	font-family: arial;
	margin-top: 1em;
	border: 3px solid #009900;
	border-radius: 12px;
	font-weight: bold;
	background-color: white;
}

.fourth_h{
	font-family:sans-serif;
	font-size:20px;
}

#recipes{
	margin-top: 2em;
}

#recipe_list{
	font-family: arial;
	font-size: 18px;
}


.item {
	margin-bottom:1.25em;
	margin-right:1em;
	margin-left:1em;
}

.recipe {
	margin-bottom:0.5em;
}

.recipe a {
	margin-left:1em;
}

#food_search{
	background-color: #f4f4f4;
	box-sizing: border-box;	
	margin:3em;
}

.farm_search{
	width: 58%;
	display: inline-block;
	max-width: 58%;
	min-width: 58%;
	margin: 3em;
	margin-left: 0;
	padding: 4em;
	padding-top: 1em;
	padding-right: 0;
	vertical-align: top;
	margin-bottom: 0;
	margin-right: 2em;
}

.right_bar{
	display: inline-block;
	width: 29%;
	max-width: 29%;
	min-width: 29%;
	padding: 3em;
	padding-top: 10em;
	padding-right: 0;
	padding-left: 0;
}

.math{
	margin-left: 1em;
	margin-bottom: 1em;
}

#math{
	display:inline-block;
}

#location_form{
	font-family: arial;
	font-size: 17px;
	margin-bottom: 1em;
	font-weight: bold;
}

#submit_location{
	height: 2.25em;
	font-size: 15px;
	border: 3px solid #009900;
	border-radius: 12px;
	font-weight: bold;
	background-color: white;
}

#location{
	width: 22em;
	height: 2em;
	text-align:center;
}

#map{
	height:35em;
}

#previous{
	font-family: arial;
	font-size: 17px;
	color: darkgreen;
	font-weight: bold;
	padding-left: 6.5em;
}

#next{
	font-family: arial;
	font-size: 17px;
	color: darkgreen;
	font-weight: bold;
	padding-left: 6.5em;
}

#produce_instructions{
	text-align: left;
	font-style: italic;
	font-size: 17px;
	font-family:arial;
	margin-bottom:1em;
}

#produce_form, #recipe_ingredients{
	font-family: arial;
	font-size: 18px;
}

#ingredient_selection {
	text-align:center;
	font-family: arial;
	font-size: 22px;
}

#add_ingredient{
	display: inline-block;
	margin-right: 2em;
	font-size:20px;
	font-family:arial;
}

.bottom_section {
	width:42%;
	max-width:42%;
	min-width:42%;
	background-color: #f4f4f4;
	display:inline-block;
	box-sizing: border-box;
	margin:3em;
	padding:4em;
	vertical-align: top;
}

.blue{
	background-color: #ffffff;
	padding: 1em;
	margin-bottom: 1em;
	border: 3px solid #009900;
}

.bottom_blurbs{
	font-size:17px;
	font-family:arial;
}

.grocery_list {
	background-color: #f4f4f4;
	margin:3em;
	margin-top:1em;
	padding:4em;
}

#shopping_items{
	display:inline-block;
}

#total{
	display:inline-block;
	border-bottom:1px solid black;
	font-family:arial;
	font-size:18px;
	margin-left:6em;
	margin-right:4em;
}

#submit_order {
	font-family: arial;
	font-size: 17px;
	border: 3px solid #009900;
	border-radius: 12px;
	font-weight: bold;
	background-color: white;
}

#recipe_right{
	margin-top: 5em;
	background-color: #ffffff;
	padding: 1em;
	padding-left: 2em;
	padding-right: 0;
	border: 3px solid #009900;
}

#recipe_ingredients{
	text-align:center;
}